{% extends "layout.html" %}

{% block title %}
    Let's Play YAHTZEE!
{% endblock %}

{% block dice %}
    <img class="dice" src='https://media.giphy.com/media/fXgr9UOUAfIfbBIM7z/giphy.gif'>
    <img class="dice" src='https://media.giphy.com/media/fXgr9UOUAfIfbBIM7z/giphy.gif'>
    <img class="dice" src='https://media.giphy.com/media/fXgr9UOUAfIfbBIM7z/giphy.gif'>
    <img class="dice" src='https://media.giphy.com/media/fXgr9UOUAfIfbBIM7z/giphy.gif'>
    <img class="dice" src='https://media.giphy.com/media/fXgr9UOUAfIfbBIM7z/giphy.gif'>
{% endblock %}

{% block message %}
    You get up to three rolls <br>
    Fill out your score sheet <br>
    Aim for a YAHTZEE!<br>
{% endblock %}

{% block button %}
{% if score_sheet %}
    {% if turn < 3 %}
        <form class="home-buttons"action="{{ url_for('yahtzee') }}" method="get">
            <button class="btn" type="submit"> Continue Game </button>
        </form>
    {% else %}
        <form class="home-buttons" action="{{ url_for('scorecard') }}" method="get">
            <button class="btn" type="submit"> Continue Game </button>
        </form>
    {% endif %}
       <form class="home-buttons" action="{{ url_for('home') }}" method="post">
            <button class="btn" type="submit" value="CLEAR SCOREBOARD" name="feedback"> Clear Scoreboard</button>
       </form>
{% else %}
    <form class="home-buttons" action="{{ url_for('yahtzee') }}" method="post">
        <button class="btn" type="submit" value="ROLL DICE" name="feedback"> Roll Dice </button>
    </form>

{% endif %}
{% endblock %}


{% block table %}
            <table class="table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Points</th>
                </tr>
                </thead>
                <tbody>
                {% for name, score in score_sheet.items() %}
                <tr>
                    {% if name == "GRAND TOTAL" or name == "UPPER TOTAL" or name == "LOWER TOTAL" %}
                    <td class="score"> {{name}} </td>
                    <td class="score"> {{score}}</td>

                    {% else %}
                    <td> {{name}} </td>
                    {% if score == '' %}
                    <td> --- </td>
                    {% else %}
                    <td> {{score}} </td>
                    {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
{% endblock %}


