{% extends "layout.html" %}


{% block header %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <p>
            {% if turn == 0: %}
            Let's play another round! You get 3 rolls.
            {% elif turn == 1: %}
            You have 2 more rolls.
            {% elif turn == 2: %}
            You have 1 more roll.
            {% endif %}
            </p>
            <p>
                {% if prompt != ''%}
            <div class="alert alert-warning" role="alert">
                {{prompt}}
            </div>
            {% endif %}
            </p>
            {% if turn > 0 %}
            <p class="lead">
                Select the dice you want to roll again <br>
                To proceed to scoreboard, select "Keep all dice"

            </p>
            <hr class="my-4">
            <form action="{{ url_for('yahtzee') }}" method="post">
                <ul class="list" >
                    {% for dice in keep_dice%}
                    <li class="form-check list index_buttons">
                        <label class="form-check-label" for="defaultCheck{{ loop.index }}">
                            {% if dice == 1 %}
                            <img class="dice" src="static/1face.jpg">
                            {% elif dice == 2 %}
                            <img class="dice" src="static/2face.jpg">
                            {% elif dice == 3 %}
                            <img class="dice" src="static/3face.jpg">
                            {% elif dice == 4 %}
                            <img class="dice" src="static/4face.jpg">
                            {% elif dice == 5 %}
                            <img class="dice" src="static/5face.jpg">
                            {% elif dice == 6 %}
                            <img class="dice" src="static/6face.jpg">
                            {% endif %}
                            <br>
                            <input class="form-check-input dice-check" type="checkbox" value="{{dice}}" id="defaultCheck{{ loop.index }}" name="feedback">
                        </label>
                    </li>
                    {% endfor %}
                    <li class="list"><button class="btn btn-light roll">ROLL AGAIN</button></li>
                    <li class="list" action="{{ url_for('yahtzee') }}" method="post">
                        <input class="btn btn-dark roll" type="submit" value="keep all dice" name="feedback">
                    </li>
                </ul>
            </form>
            {% else %}
            <form action="{{ url_for('yahtzee') }}" method="post">
                <button class="btn btn-light" type="submit" value="ROLL DICE" name="feedback"> ROLL DICE </button>
            </form>
            {% endif %}




        </div>
        <div class="col-5">
            <table class="table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Points</th>
                </tr>
                </thead>
                <tbody>
                {% for name, score in score_sheet.items() %}
                <tr>
                    {% if name == "GRAND TOTAL" or name == "UPPER TOTAL" or name == "LOWER TOTAL" %}
                        <td class="bold"> {{name}} </td>
                        <td class="bold"> {{score}}</td>

                    {% else %}
                    <td> {{name}} </td>
                        {% if score == '' %}
                        <td> --- </td>
                        {% else %}
                        <td> {{score}} </td>
                        {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}









<!--<br>-->
<!--{{feedback}}<br>-->
<!--turn = {{turn}} <br>-->
<!--dice rolled = {{roll_dice}}<br>-->
<!--chosen to re-roll = {{feedback}}<br>-->
<!--keep_dice = {{keep_dice}}<br>-->
<!--scorecard = {{scorecard}}<br>-->
<!--options = {{options}}<br>-->
