{% extends "layout.html" %}

{% block title%}
    {% if not options and '' in score_sheet.values() %}
        Let's play another round!
    {% endif %}
    {% if '' not in score_sheet.values() %}
        Game over! <br> Your Score: {{score_sheet['GRAND TOTAL']}}
    {% endif %}
    {% if keep_dice and '' in score_sheet.values() %}
        Your final dice:
    {% endif %}
{% endblock %}

{% block dice %}
    {% if '' in score_sheet.values() %}
    {% for dice in keep_dice %}
        {% if dice == 1 %}
            <img class="dice" src="static/1face.jpg">
        {% elif dice == 2 %}
            <img class="dice" src="static/2face.jpg">
        {% elif dice == 3 %}
            <img class="dice" src="static/3face.jpg">
        {% elif dice == 4 %}
            <img class="dice" src="static/4face.jpg">
        {% elif dice == 5 %}
            <img class="dice" src="static/5face.jpg">
        {% elif dice == 6 %}
            <img class="dice" src="static/6face.jpg">
        {% endif %}
    {% endfor %}
    {% endif %}
{% endblock %}

{% block message %}
    {% if options and '' in score_sheet.values() %}
        I have added up your dice <br>
        Choose a category within the score sheet <br>
        if Upper Section score is over 63, get a 35 point bonus
    {% endif %}
{% endblock %}

{% block button %}
    {% if not options and '' in score_sheet.values() %}
        <form action="{{ url_for('yahtzee') }}" method="post">
            <button class="btn" type="submit" value="ROLL DICE" name="feedback"> Roll Dice </button>
        </form>
    {% elif '' not in score_sheet.values() %}
        <form action="{{ url_for('home') }}" method="post">
            <button class="btn" type="submit" value="CLEAR SCOREBOARD" name="feedback"> Start Over</button>
        </form>
    {% endif %}
{% endblock %}

{% block table %}
    <table class="table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Points</th>
            {% if '' in score_sheet.values() %}
            <th>Add</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>

        <form action="{{ url_for('scorecard') }}" method="post">
            {% for name, score in score_sheet.items() %}
            <tr>
                {% if score == '' and name != '': %}
                {% if options %}
                {% for option, amount in options.items() %}
                {% if name == option %}
                <td class="option"> {{name}} </td>
                <td class="option">
                    <label for="{{name}}{{amount}}">
                        {{amount}}
                    </label>
                </td>
                <td class="option">
                    <input  type="radio" name="feedback" id="{{name}}{{amount}}" value="{{option}}">
                </td>
                {% endif %}
                {% endfor %}
                {% endif %}

                {% elif score != '': %}
                    {% if name == "GRAND TOTAL" or name == "UPPER TOTAL" or name == "LOWER TOTAL" %}
                        <td class="score"> {{name}}</td>
                        <td class="score"> {{score}}</td>
                    {% if '' in score_sheet.values() %}
                        <td> </td>
                    {% endif %}
                    {% else %}
                        <td> {{name}}</td>
                        <td> {{score}}</td>
                    {% if '' in score_sheet.values() %}
                    <td> x </td>
                    {% endif %}
                    {% endif %}
                {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
    {% if options and '' in score_sheet.values() %}
    <button class="btn" id="scoreboard-enter">Enter</button>
    {% endif %}

    </form>
{% endblock %}















<!--<br>-->
<!--turn = {{turn}} <br>-->
<!--dice rolled = {{roll_dice}}<br>-->
<!--chosen to re-roll = {{feedback}}<br>-->
<!--keep_dice = {{keep_dice}}<br>-->
<!--scorecard = {{scorecard}}<br>-->
<!--options = {{options}}<br>-->
