body
{
background-color: pink;
}

.add_space
{
text-align:center;
}

.roll
{
margin-top: 30px;

}


.checked
{
 color: black;
}

.dice
{
width: 50px;

}

.list
{
display: inline;
list-style: none;
}

.jumbotron
{
  background-color: hsla(0, 100%, 50%, 0.3);
;
}

.index_buttons
{
list-style: none;

}

.display-4
{
font-weight: Bold;
}


table
{
font-family: Courier New;
font-size: 16px;
width: 240px;
}


.name
{
padding-left: 10px;
}

td
{
height: 25px;
padding-left: 10px;
}

.point-option
{
margin-left:8 px;
}

.dice-check
{
margin-left:18px;

}

.alert
{
font-size: 12px;
}

.instructions
{
font-size: 16px;
}


.final_dice
{
margin-left:25px;
}