{% extends "layout.html" %}

{%block header %}Let's Play YAHTZEE!{% endblock %}
{% block content %}
<div>
    <img class="dice" src='https://media.giphy.com/media/fXgr9UOUAfIfbBIM7z/giphy.gif'>
    <img class="dice" src='https://media.giphy.com/media/fXgr9UOUAfIfbBIM7z/giphy.gif'>
    <img class="dice" src='https://media.giphy.com/media/fXgr9UOUAfIfbBIM7z/giphy.gif'>
    <img class="dice" src='https://media.giphy.com/media/fXgr9UOUAfIfbBIM7z/giphy.gif'>
    <img class="dice" src='https://media.giphy.com/media/fXgr9UOUAfIfbBIM7z/giphy.gif'>
</div>
{% endblock%}
{% block area %}
You get up to three rolls <br> Fill out your scoresheet <br>Aim for a YAHTZEE! <br>
<form action="{{ url_for('yahtzee') }}" method="post">
    <input class="btn btn-dark" type="submit" value="ROLL DICE" name="feedback">
</form>
{% endblock %}

