{% extends "layout.html" %}

{%block header%}
<div class="container">
    <div class="row rows-cols-3">

        <div class="col-6">
            {% if not options %}
            <h1>Let's play another round! </h1>
            <form action="{{ url_for('yahtzee') }}" method="post">
                <input class="btn btn-dark roll" type="submit" value="ROLL DICE" name="feedback">
            </form>
            {%endif%}
            {% if keep_dice %}
            Your final dice:
            {% endif %}

            <p class="final_dice">
            {% for dice in keep_dice %}
            {% if dice == 1 %}
            <img class="dice" src="static/1face.jpg">
            {% elif dice == 2 %}
            <img class="dice" src="static/2face.jpg">
            {% elif dice == 3 %}
            <img class="dice" src="static/3face.jpg">
            {% elif dice == 4 %}
            <img class="dice" src="static/4face.jpg">
            {% elif dice == 5 %}
            <img class="dice" src="static/5face.jpg">
            {% elif dice == 6 %}
            <img class="dice" src="static/6face.jpg">
            {% endif %}
            {% endfor %}
            </p>
            <hr class="my-4">

            {% if prompt %}
            <P
                class="alert alert-warning" role="alert">
                {{prompt}}
            </P>
            {% endif %}
            <p class="lead">
                {% if options %}
                I have added up your dice <br>
                Choose a category within the scoresheet!
                {% endif %}
            </p>

        </div>
        <div class="col-3">
            <table class="table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Points</th>
                    <th>Add</th>
                </tr>
                </thead>
                <tbody>

                <form action="{{ url_for('scorecard') }}" method="post">
                    {% for name, score in score_sheet.items() %}
                    <tr>
                        {% if score == '' and name != '': %}
                        {% if options %}
                        {% for option, amount in options.items() %}
                        {% if name == option %}
                        <td> {{name}} </td>
                        <td>
                            <label class="point-option" for="{{name}}{{amount}}">
                                {{amount}}
                            </label>
                        </td>
                        <td>
                            <input  type="radio" name="feedback" id="{{name}}{{amount}}" value="{{option}}">
                        </td>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% elif score != '': %}
                        <td> {{name}}</td>
                        <td> {{score}}</td>
                        <td> x </td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>

            {% if options %}
            <button class="btn btn-dark">Enter</button>
            {% endif %}

            </form>

        </div>
    </div>
</div>
{% endblock%}

















<!--<br>-->
<!--turn = {{turn}} <br>-->
<!--dice rolled = {{roll_dice}}<br>-->
<!--chosen to re-roll = {{feedback}}<br>-->
<!--keep_dice = {{keep_dice}}<br>-->
<!--scorecard = {{scorecard}}<br>-->
<!--options = {{options}}<br>-->
